body{
font-family:Arial;
margin:0;
color:white;
text-align:center;
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;

background:linear-gradient(135deg,#0f2027,#203a43,#2c5364);
background-size:400% 400%;
animation:bgMove 15s ease infinite;
}

@keyframes bgMove{
0%{background-position:0% 50%}
50%{background-position:100% 50%}
100%{background-position:0% 50%}
}

.title{
font-size:120px;
font-weight:bold;
letter-spacing:5px;
margin-bottom:30px;
}

.screen{
display:flex;
flex-direction:column;
align-items:center;
gap:25px;
}

.hidden{
display:none;
}

input{
padding:15px;
font-size:22px;
width:320px;
border-radius:8px;
border:none;
text-align:center;
}

button{
padding:15px 40px;
font-size:22px;
border:none;
background:#00c3ff;
color:white;
border-radius:10px;
cursor:pointer;
}

button:hover{
background:#009ed1;
transform:scale(1.05);
}

.balls{
display:flex;
flex-direction:column;
gap:15px;
margin-top:20px;
}

.row{
display:flex;
gap:10px;
align-items:center;
justify-content:center;
}

.ball{
width:50px;
height:50px;
border-radius:50%;
}

.red{background:red;}
.blue{background:blue;}
.green{background:green;}

.choices{
display:grid;
grid-template-columns:200px 200px;
gap:20px;
}

.characters{
display:flex;
gap:60px;
margin-top:30px;
}

.person{
display:flex;
flex-direction:column;
align-items:center;
}

.person img{
width:140px;
height:140px;
margin-bottom:10px;
}

.person select{
padding:8px;
font-size:16px;
border-radius:6px;
}

.clues{
background:#111;
padding:20px;
border-radius:10px;
max-width:500px;
}
